# Nombre del archivo JSON de credenciales de Google Cloud Service Account
GOOGLE_SHEETS_CREDENTIALS=credentials.json

# Nombre del archivo de Google Sheet en tu Google Drive
SPREADSHEET_NAME=Sorteo Auto 0KM - Participantes
WORKSHEET_NAME=Participantes

# Credenciales de pasarela (ejemplo Mercado Pago)
MP_ACCESS_TOKEN=TEST_ACCESS_TOKEN_EJEMPLO
MP_PUBLIC_KEY=TEST_PUBLIC_KEY_EJEMPLO
